[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=sharebear
Exec=invoker --single-instance --type=d /opt/sharebear/bin/sharebear
Icon=/usr/share/icons/hicolor/scalable/apps/sharebear.svg
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
